*, html {
  box-sizing: border-box;
  color: rgb(78, 78, 78);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-width: 350px;
  height: 100%;
  background-color: white;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

main {
  min-height: 100%;
  position: absolute;
  top: 210px;
}
/* TEXT STYLING */

h2, h3, h4, h5 {
  font-weight: 300;
}


/* NAVBAR STYLING */
header {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 5;
}

nav {
  width: 100%;
  min-height: 160px;
  background-color: rgb(189, 189, 189);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

/* CONTAINER HOLDING ALL NAV COMPONENTS */
.nav-components {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

/* MEDIA QUERIES FOR DIFFERENT SCREEN SIZES */

@media screen and (max-width: 689px) {
  .regular-screen {
    display: none;
  }
  nav .small-screen {
    width: 100%;
    height: auto;
    text-align: center;
  }
  nav .small-screen >* {
    width: auto;
    height: auto;
  }
  .small-screen.nav-components {
    display: flex;
    align-items: center;
    height: 50px;
  }
  nav h1 a{
    text-align: center;
    padding-left: 125px;
    padding-right: 125px;
  }
  /* NAVBAR SIDEBAR ICON STYLING */
  .sidebar-icon-container {
    width: auto;
  }
  ul.sidebar-icon {
    margin-top: 5px;

    width: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    
  }

  .sidebar-icon li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    align-items: center;
    
  }

  nav hr {
    border-radius:3px;
    height: 3px;
    background-color: rgb(78, 78, 78);
    border: none

  }
  /* STYLING FOR NAV SIDEBAR */

  .sidebar {
    position: absolute;
    /* ----------------------------------- */
    top: -60px;
    /* ----------------------------------- */
    z-index: 1;
    background-color: rgba(189, 189, 189, .75);
    color: rgb(189, 189, 189);
    min-height: 100%;
    
  }

  .sidebar-content {
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: rgba(189, 189, 189, .75);
  }
  .sidebar .nav-component {
    width: 250px;
    text-align: left;
    padding: 15px;
    margin: 15px;
    background-color: white;
    border-radius: 2px;
  }
  .sidebar ul {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .sidebar h3, .sidebar h4 {
    height: auto
  }
  .sidebar h3 a, .sidebar h4 a{
    color:#7B6F64;
  }

  .sidebar li {
    height: auto;
  }
  .sidebar-content .nav-component a, .sidebar-content .nav-component .category-dropdown li a{
    text-decoration: none;
  }
  .sidebar-content .nav-component a:hover, .sidebar-content .nav-component .category-dropdown li a{
    text-decoration: underline;
  }
  .sidebar-content .category-dropdown {
    padding: 20px;
    
    text-align: left;
  }
  .sidebar-content .category-dropdown ul >*{
    list-style-type: none;
  }
  .user.nav-component {
    height: auto;
    max-height: 250px;
    width: 250px;
    
  }
  .sidebar-content.user-specific-options {
  height: auto;
  width: 100%;
  }

  .sidebar-content.user-specific-options >* {
    height: auto;
  }


}
@media screen and (min-width: 690px) {
  header .small-screen {
    display: none;
  }
  h1 #site-title {
    width:fit-content;
  }
  /* CATETRGORY DROPDOWN STYLING */
  .regular-screen {
    width: 100%;
    height: auto;
  }
  .regular-screen-nav-bar {
    width: 100%;
    height: auto;
  }

  .regular-screen .category-dropdown {
    position: absolute;
    background-color:  rgba(189, 189, 189, .75);
    height: 50px;
    width: 100%;
  }
  .regular-screen .category-dropdown ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100%
  }

  .regular-screen .category-dropdown ul>*{
    width: auto;
    height:auto
  }
  .regular-screen category-dropdown >* {
    height: auto;
    width: auto;
  }
  .user.nav-component {
    width: 14%;
    height: auto;
  }
  .sidebar {
    display: none;
  }
}

/* CONTAINER HOLDING LEFT MAIN NAV COMPONENTS */
.left.generic-nav-component {
  width: 43%;
  position: relative;
}

.left.generic-nav-component ul {
  display: flex;
  list-style: none;
  width: 70%;
  margin-left: auto;
}


/* CONTAINER HOLDING MIDDLE MAIN NAV COMPONENTS */
.middle.generic-nav-component {
  width: 14%;
}


/* CONTAINER HOLDING RIGHT MAIN NAV COMPONENTS */
.right.generic-nav-component {
  width: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* STYLING FOR GENERIC NAV ITEMS */
.generic-nav-component {
  height: auto;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}


/* CONTAINER HOLDING USER/SESSION SPECIFIC NAV COMPONENTS */

.user-specific-options {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  list-style-type: none;
  text-align: right;
  padding-right: 30px;

}
/* USER SPECIFIC ITEMS */
.user-specific-options li {
  width:auto;
  padding-bottom: 10px;
  padding-top: 10px;
}


/* NAV TEXT STYLING */
#site-title {
  font-size: 35px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  width: auto;
  height: auto
}

/* NAV LINK STYLING */
.nav-components a {
  text-decoration: none;
}

.nav-components a:hover {
  text-decoration: underline;
}


#site-title a:hover {
  text-decoration: none;
}









/* FLASH MESSAGE STYLING */
 
.flash-message {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  height: auto;
  width: 450px;
}

.flash-message h4 {
  color: white;
}

.login-form .flash-message {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
/* LOGIN STYLING */

.login {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.login-form {
  width: 450px;
  height: 300px;
  background-color:rgb(189, 189, 189);
  border-radius: 20px;

}
.login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-inputs {
  height: auto;
}

.login-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 5px;
}
.label-container {
  width: 90px;
}
.login-form input {
  width: 130px;
}
.login-form input, button {
  height: auto;
  color: rgb(78, 78, 78) ;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding-left: 2.5px;
  padding-right: 2.5px;
}
button {
  height: auto;
  color: rgb(78, 78, 78) ;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
  height: auto;
  margin: 10px;
  border: solid 1px rgb(239, 239, 239);
  border-radius: 5px;;
}

.login-item {
  height: auto;
  width: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form h4 {
  font-size: 12px;
  width: auto;
}


/* REGISTRATION STYLING */
.registration {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size:  15px;
}

.registration-form {
  width: 450px;
  height: 550px;
  background-color: rgb(189, 189, 189) ;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration-container {
  margin: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.registration-form .entry {
  display: flex;
  flex-direction: column;
}
.registration-form label{
  padding-bottom: 2.5px;
}
.registration-form input {
  width: 100%;
  height: auto;
  color: rgb(78, 78, 78)
}
/* .registration-form button {
  width: auto;
  height: auto;
  font-size: 15px;
  color: rgb(78, 78, 78);
  margin: 10px;
  padding-left: 2.5px;
  padding-right: 2.5px;
} */
.registration-form .entry {
  padding: 10px;
  height: auto
}
.registration-form h4 {
  font-size: 12px;
  width: auto;
}
.registration-form h4 a {
  text-decoration: underline;
}
.registration-form h4 a:hover {
  text-decoration: none;
}

/* HOME PAGE STYLING */

.home-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home-page .category-title {
  font-size: 30px;
  height: auto;
}
.categories {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
}
.categories >* {
  overflow: scroll;
}
.home-page .category-container {
  height: auto;
  width: 400px;
  text-align: center;
}
.home-page .category-container .link {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
}
.home-page .category-container .link:hover {
  text-decoration: none;
}
.home-page .category-container .product-image-container {
  height: auto;
  width: auto;
  
}
.home-page .category-container img {
  max-width: 350px;
  max-height: 425px;
  object-fit: cover;
}
.home-page .category-container h2 {
  height: auto;
  padding: 30px
}
.home-page h3 {
  height: auto;
  padding: 40px
}
#view-all-link a {
  text-decoration: none;
}
#view-all-link a:hover {
  text-decoration: underline;
}
.home-page.category-title {
  height: auto;
}


/* PRODUCTS PAGE STYLING */
.products-page {
  width: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
.products-page h2 {
  height: auto;
  font-size: 25px;
  font-weight: 400
}
.product-list-container {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  flex-wrap: wrap;
  width: 90%;
  min-width: 300px
}


.product-list-container .product-listing {
  width: 300px;
  min-width: 300px;
  height: auto;
  margin: 10px;
  
}

.product-list-container .product-listing .product-image-container {
  height: 400px;
  width: auto;
}

.product-list-container .product-listing .product-image-container .product-image {
  object-fit: cover;
}

.product-info {
  padding-top: 10px;
  text-align: start;
  display: flex;
  flex-direction: column;

}

.product-info h3, h5 {
  height: auto
}


.product-listing{
  text-decoration: none;
}

.product-listing:hover {
  text-decoration: underline;
}

/* PRODUCT VIEW STYLING */

.product-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
.product {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.product .product-image-container {
  width: 375px;
  height: 500px;
}

.product .product-info {
  width: 375px;
}

.product .product-image-container .prodcuct-image {
  object-fit: cover;
}


/* ADD TO CART STYLING */

.add-to-cart {
  margin: 10px;
  width: 375px;
  height: 50px;
  display: flex;
  align-items: center;
  
}
.add-to-cart >* {
  height: auto
}

.add-to-cart .quantity-input-container {
  display: flex;
  align-items: center;
  width: auto;
}

.add-to-cart .quantity-input-container h4{
  height: auto;
  width: auto;
}
.add-to-cart .quantity-input-container input {
  height: 25px;
  width: 30px;
  margin: 5px;
  color: #7B6F64; 
}

.add-to-cart section.button-container {
  align-items: center;
  display: flex;
}

.add-to-cart button  {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  width: fit-content;
  height: fit-content;
  color: #7B6F64;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

}
section.add-to-cart {
  display: flex;
  width: auto;
}
div.flash-message.add-to-cart-flash {
  width: fit-content;
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:5px;
  padding-bottom: 5px;
}

.add-to-cart form.cart-quantity-form {
  width: auto
}
/* ABOUT US PAGE STYLING */

.about-us {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  padding-right: 200px;
  padding-left: 200px;
  text-align: center;
  
}

.about-us>* {
  display: flex;
  flex-direction: column;
  height: auto;
  padding-bottom: 20px;
  text-align: center;
  width: 50%;
  min-width: 300px
  
}

.about-us h2 {
  font-size: 25px;
  font-weight: 400;

}
.about-us p {
  font-size: 15px;
  font-weight: 400;

}

/* CONTACT US PAGE STYLING */

.contact-us {
  display: flex;
  flex-direction: column;
  text-align: center;

  padding-right: 200px;
  padding-left: 200px;
}

.contact-us>* {
  height: auto;
  padding-bottom: 20px;
}

.contact-info>* {
  height: auto;
  padding: 2.5px
}
.contact-us h2{
  font-size: 25px;
  font-weight: 400;
}

.contact-us h3{
  font-size: 22px;
  font-weight: 500;
}

.contact-us p{
  font-size: 15px;
  font-weight: 400;
}

/* PROFILE PAGE STYLING */
.account-container {
  width: auto;
  height: auto;
  /* padding-top: 75px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.account-container h2 {
  font-size: 25px;
  font-weight: 400;
  width: auto;

}

.account-info-container {
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.account-info {
  width: 450px;
  height: 600px;
  background-color: rgb(189, 189, 189) ;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.account-entry-container {
  padding-top: 20px;
  padding-bottom: 20px;

}
.account-entry-container >* {
  height: auto
}

.account-entry-container h4 {
  padding-bottom: 5px;
  font-size: 14px;
}

.account-entry-container h3 {
  font-size:16px;
}

.account-entry-container button {
  height: auto
}
/* ACCOUNT EDITTING PAGE STYLING */

.account-update-form {
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.account-entry {
  height: auto;
}

.account-update-form input {
  font-size: 14px;
  color: rgb(78, 78, 78);
}

.update-buttons button {
  margin: 5px;
  font-size: 15px;
  height: 25px;
  width: 75px;
}
.account-update-form .account-info {
  height: 600px;

}
.account-update-form .account-info .update-buttons {
  width: auto;
}

.account-update-form.account-entry-container {
  /* padding-top: 20px; */
  padding-bottom: 20px;

}
.account-update-form.account-entry-container >* {
  height: auto
}

.account-update-form.account-entry-container h4 {
  padding-bottom: 5px;
  font-size: 14px;
}

.account-update-form.account-entry-container h3 {
  font-size:16px;
}

/* REDIRECT STYLING */

.redirect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%
}
.redirect-text-container >*{
  text-align: center;
  font-size: 15px;
  height: auto;
  width: auto;
  padding: 40px;
  color: white

}
.redirect-text-container a {
  color: white;
}
.redirect-text-container {
  background-color: rgb(216,80,39);
  width: 75%;
  border-radius: 20px;
}


/* CART STYLING */
.cart-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cart-container h2 {
  height: auto;
  padding-bottom: 40px;
}

.cart-items-container {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(189, 189, 189);
}


.item-tile-container {
  height: auto;
  padding: 10px;
  width: 100%;
  
}

.item-tile-container img {
  width: 90px;
  height: 140px;
  object-fit: cover;
}

.item-info {
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-info >* {
  height: auto;
  max-width: 200px;
  padding: 5px;
}

.cart-quantity-input-container {
  display: flex;
  flex-direction: row;
}
.cart-quantity-form {
  display: flex;
  height: auto;
  justify-content: baseline;
  
  
}
.cart-quantity-form label {
  padding-right: 10px ;
  width:auto
}
select#quantitySelect {
  width: 40px;
  height: fit-content
}

button.delete-cart-item {
  font-size: 12px;
  font-weight: 300;
  color: rgb(78, 78, 78);
  background-color: white;
  border: none;
  height: fit-content;
  width: fit-content;
  padding: 0;
  margin: 5px;
}

button.delete-cart-item:hover {
  text-decoration: underline;
}
.item-info-piece {
  display: flex;
  overflow-wrap: normal;
}

.empty-cart-view, .error-cart-view{
  text-align: center;
  width: 70%;
}
.empty-cart-view a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}
@media screen and (max-width: 689px) {
  .cart-item-info {
    height: 140px;
    flex-direction: column;
  }

}

.cart-subtotal {
  font-weight: 500;
  padding: 10px;
}


.checkout-button {
  border: solid 1px rgb(255, 255, 255);
  border-radius: 10px;
}


/* ORDER CONFIRMAMTION PAGE AND ORDER STYLING */

.order-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-confirmation >* {
  height: auto;
  width: auto;
}

.order-listing-container {
  margin: 20px;
  padding: 10px;
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px rgb(189, 189, 189);
  
}
.order-listing-container h3 {
  width: auto;
  font-weight: 500;
  
}

/* LOADING */
.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-container img {
  width: 10%;
  height: auto
}

.failed-container {
  text-align: center;
}

/* PLURAL ORDERS STYLING */
.orders-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orders-listing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.orders-listing-container h2 {
  padding-bottom: 15px;
  height: auto;
  width: auto
}
/* NOTES */


